.bo {
    border: 2px solid #ccc; /* Thin outline */
    border-radius: 8px; /* Border radius */
    width: 106%; /* Adjust as needed */
    margin: 20px auto;
    margin-left: 20%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  }
  
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for input groups */
    gap: 20px;
    margin-bottom: 15px;
    padding: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type='text'] {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color:black;
  }
  
  .full-width-input {
    grid-column: 1 / -1; /* Spans the full width of the container */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  